homeserver: "https://relaysms.me"
homeserver_domain: "relaysms.me"
keystore_filepath: "db/users.db"
pickle_key: ""
user:
  username: ""
  password: ""
  # manually fill all this if you don't have them - login
  access_token: ""
  recovery_key: ""
  device_id: ""
websocket:
  port: 8090
  host: "0.0.0.0"
  tls:
    crt: ""
    key: ""
server:
  port: 8080
  host: "0.0.0.0"
  tls:
    crt: ""
    key: ""
bridges:
  - signal:
      botname: "@signalbot:relaysms.me"
      username_template: "signal_{{.}}"
      display_username_template: "{{.}} (Signal)"
      cmd:
        login: "!signal login"
        failed: "Login failed: too many QR code refreshes"
        success: "Successfully logged in as %s / %s"
        cancel: "!signal cancel"
        devices: "!signal list-logins"
        ongoing: "Scan the QR code on your Signal app to log in"

  - wa:
      botname: "@whatsappbot:relaysms.me"
      username_template: "whatsapp_{{.}}"
      display_username_template: "{{.}} (WA)"
      cmd:
        # login: "!wa login phone"
        login: "!wa login qr"
        failed: "Login failed: Entering code or scanning QR timed out. Please try again."
        success: "Successfully logged in as %s"
        cancel: "!wa cancel"
        devices: "!wa list-logins"
        ongoing: "Scan the QR code with the WhatsApp mobile app to log in"
